<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todo app</title>
</head>
<body>
<h1><Todo App</h1>

<form action=""</form>
<div>
    <label for=""title="Todo title"</label>
    <input type="text" name="title" placeholder="Enter todo...">
    <br>
    <button type="submit">Add</button>
</div>
</form>
{% for todo in todo_list %}
<p> {{ todo.id }} | {{ todo.title }} </p>
{% endfor %}
</body>
</html>